<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Blog Site
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/random/200x200/?female,face"
    />
    <h4 class="name">Laura Croft</h4>
    <p class="title">Lift Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>contact_mail</mat-icon>
      <span>Contact</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Q&A</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>money</mat-icon>
      <span>Payment</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">Blog Main Page</div>
  </mat-sidenav-content>
</mat-sidenav-container>
